body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  /*#808080;*/
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #e61919;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
  background: #E7E7E7;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #4dff4d;
}
#nav-list a span {
  font-size: 1.8em;
}


#main-content {
    width: 92%;
    margin-bottom: 30px;
}
#top-heading {
  color: black;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
    background-color: #808080;
}
#main-section {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
    background-color: #808080;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

#chicken-tile, #beef-tile, #sushi-tile {
    width: 100%;
    padding: 20px;
    background-color: #99ed7b;
    margin-bottom: 60px;
    box-shadow: 0 0 80px #18580b;
}